[Unit]
Description= Daemon to manage tendrl monitoring

[Service]
Type=simple
Environment="HOME=/var/lib/tendrl"
ExecStart=/usr/bin/tendrl-performance-monitoring
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
