<Plugin "python">
    ModulePath "/usr/lib64/collectd/"

    Import "ceph_utilization"

    <Module "ceph_utilization">
        Verbose "True"
        cluster_id "{{ cluster_id }}"
        Interval 30
    </Module>
</Plugin>

<Plugin "threshold">
    <Plugin "cluster_utilization">
       <Type "percent">
         Instance percent_bytes
         FailureMax {{ Failure }}
         WarningMax {{ Warning }}
       </Type>
    </Plugin>
</Plugin>
