LoadPlugin "write_graphite"

<Plugin write_graphite>
    <Node "{{ hostname }}">
        Host "{{ master_name }}"
        Port "2003"
        Protocol "tcp"
        LogSendErrors true
        Prefix "collectd."
        StoreRates true
        AlwaysAppendDS false
        EscapeCharacter "_"
    </Node>
</Plugin>

