<Plugin "threshold">
    <Plugin "volume_utilization">
       <Type "percent">
         Instance percent_bytes
         FailureMax {{ Failure }}
         WarningMax {{ Warning }}
       </Type>
    </Plugin>
</Plugin>
